* {
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}
body {
  background-color: white;
  margin: 0;
  height: 200vh;
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.section-1 {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-1-container {
  width: 40%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  margin-bottom: 40px;
}
.slogan {
  font-size: 48px;
  color: hsl(210, 10%, 33%);
  font-weight: 700;
}
.sec-1.desc {
  width: 95%;
  color: hsl(201, 11%, 66%);
  text-align: center;
  font-size: 22px;
  margin-top: 15px;
}
.section-1 .buttons {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 67%;
}
.buttons .btn {
  width: 250px;
  height: 60px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.green {
  background-color: hsl(171, 66%, 44%);
  border-bottom: 3px #209f89 solid;
  -webkit-box-shadow: 0px 17px 28px -23px rgba(38, 112, 101, 1);
  -moz-box-shadow: 0px 17px 28px -23px rgba(38, 112, 101, 1);
  box-shadow: 0px 17px 28px -23px rgba(38, 112, 101, 1);
  cursor: pointer;
}
.green:hover {
  background-color: #5dccbb;
}
.purble {
  background-color: hsl(233, 100%, 69%);
  border-bottom: 3px #5262db solid;
  -webkit-box-shadow: 0px 17px 49px -24px rgb(0 21 176);
  -moz-box-shadow: 0px 17px 49px -24px rgb(0 21 176);
  box-shadow: 0px 17px 49px -24px rgb(0 21 176);
  cursor: pointer;
}
.purble:hover {
  background-color: #8896ff;
}

.section-2 {
  height: 25vh;
  display: flex;
  justify-content: center;
}
.sec-2-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.small-heading {
  font-size: 42px;
  color: hsl(210, 10%, 33%);
  font-weight: bold;
}
.desc {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  color: hsl(201, 11%, 66%);
  width: 95%;
  line-height: 30px;
}

.section-3 {
  display: flex;
  height: 85vh;
}
.left-part {
  position: relative;
  width: 50%;
}
.left-part img {
  position: absolute;
  left: -100px;
  width: 100%;
}
.right-part {
  width: 50%;
  height: 100%;
  padding: 80px 50px;
}
.title {
  font-size: 30px;
}
.box {
  width: 75%;
  margin-bottom: 60px;
}
.box.desc {
  text-align: left;
  line-height: 37px;
}

.section-4 {
  display: flex;
  height: 95vh;
  justify-content: center;
}
.section-4-container {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sec-4.desc {
  margin-top: 20px;
  width: 65%;
}

.sec-4-image {
  margin-top: 100px;
  width: 85%;
}
.sec-4-image img {
  width: 100%;
}

.section-5 {
  height: 45vh;
  display: flex;
  justify-content: center;
}
.sec-5.desc {
  margin-top: 25px;
}
.section-5-container {
  width: 80%;
}
.first-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 85px;
}
.second-part {
  display: flex;
  justify-content: space-between;
  height: 50%;
}
.card {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img {
  margin: 50px 0px;
}
.card-desc {
  margin-top: 25px;
  line-height: 35px;
  width: 90%;
}
.section-6 {
  height: 50vh;
  display: flex;
  justify-content: center;
}
.companies {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.companies img {
  width: 12%;
}

.section-7 {
  height: 40vh;
  display: flex;
  justify-content: center;
}
.section-7-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 55%;
}
.sec-7.desc {
  margin-top: 25px;
  width: 80%;
}
.section-7 .buttons {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

footer {
  background-color: #f5f6f8;
  display: flex;
  justify-content: space-between;
  padding: 0px 150px;
}
.left-footer {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left-footer .logo img {
  align-self: center;
  width: 40%;
  margin-top: 40px;
}
.col {
  line-height: 40px;
}
.col > span:hover {
  color: #209f89;
  cursor: pointer;
}
.col-3 {
  margin-bottom: 35px;
}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
}
.icon:hover {
  cursor: pointer;
  fill: #209f89;
}

@media (max-width: 1440px) {
  .sec-1-container {
    width: 55%;
  }
  .section-5 {
    height: 60vh;
  }

  .section-7 {
    height: 50vh;
  }
  .sec-7.desc {
    width: 95%;
  }
  .section-7 .buttons {
    width: 65%;
  }
}

@media (max-width: 475px) {
  body {
    background-image: url(../images/bg-header-mobile.png);
  }
  .section-1 {
    height: 85vh;
  }
  .sec-1-container {
    width: 90%;
    height: 100%;
    justify-content: center;
  }
  .slogan {
    font-size: 38px;
    text-align: center;
  }
  .logo {
    margin-bottom: 60px;
  }
  .sec-1.desc {
    font-size: 16px;
    width: 90%;
  }
  .section-2 {
    height: 35vh;
  }
  .buttons {
    flex-direction: column;
    width: 90% !important;
  }
  .buttons .btn {
    margin-bottom: 10px;
    width: 100%;
  }
  .sec-2-container {
    width: 90%;
    justify-content: center;
  }
  .small-heading {
    font-size: 32px;
    text-align: center;
  }
  .desc {
    font-size: 16px;
  }
  .section-3 {
    height: 120vh;
    flex-direction: column;
  }
  .left-part {
    width: 100%;
    position: initial;
    display: flex;
    justify-content: center;
  }
  .left-part img {
    position: initial;
    width: 80%;
  }
  .right-part {
    width: 100%;
  }
  .right-part-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .box {
    width: 90%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box.desc {
    text-align: center;
    line-height: 30px;
  }
  .box .title {
    font-size: 24px;
  }
  .section-4 {
    height: 75vh;
  }
  .section-4-container {
    width: 90%;
  }
  .sec-4.desc {
    width: 82%;
  }
  .sec-4-image {
    margin-top: 70px;
    width: 100%;
  }
  .section-5 {
    height: 140vh;
  }
  .section-5-container {
    width: 90%;
  }
  .second-part {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
  .section-6 {
    height: 70vh;
  }
  .companies {
    flex-direction: column;
    width: 90%;
  }
  .companies img {
    width: 40%;
  }
  .section-7{
    height: 80vh;
    align-items: center;
  }
  .section-7-container{
    width: 90%;
  }
  footer{
    flex-direction: column;
    padding: 0;
  }
  .left-footer{
    width: 100%;
    flex-direction: column;
  }
  .links{
    width: 100%;
    justify-content: space-evenly;
    padding: 0px 80px 30px 80px;
  }
  .left-footer .logo{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }
  .col{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
  }
  .col-2{
    margin-top: 20px;
  }
  .col-3{
    margin-top: 20px;
  }
}
